@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

container {
  margin-top: 10em;
}

row {
	margin-top: 10em;
}

.result-container {
  margin-top: 5%;
  margin-bottom: 5%;
  background: rgba(0, 98, 204, 0.2);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.header-container {
	margin-bottom: 7%;
	padding-left: 2%;
	padding-top: 1%;
	margin-top: 5%;
	font-family: 'Ubuntu', sans-serif;
	color : azure;
	background: rgba(0, 0, 0, 0.2);
  	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

#truck-container {
	padding-top: 1%;
	background: rgba(0, 0, 0, 0.05);
	font-family: 'Ubuntu', sans-serif;
  	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  	margin-bottom: 2%;
}

.truckButton{
	margin-bottom: 5%;
	margin-left: 20%;
}