@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body .button {
  width: 200px;
  height: 50px;
  background: #f3f0f1;
  position: relative;
  background: #f3f0f1;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
body .button span {
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: semibold;
}
body .button:nth-child(1) {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #6f6cde;
}
body .button:nth-child(1):hover {
  opacity: 0.3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}
body .button:nth-child(1):active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}
body .button:nth-child(2) {
  opacity: 0.3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #6f6cde;
}
body .button:nth-child(3) {
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}
body .button:nth-child(3):hover {
  opacity: 1;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}
