@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
h1.logo {
  color: #fff;
  font-family: "Pacifico", cursive;
  margin-left: 1em;
  font-size: 3em;
  margin-bottom: 0.5em;
}

p.altmt {
  font-family: "Chelsea Market", cursive;
  margin-top: 4em;
  color: #fff;
}

.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25em;
}
.login-form-2 {
  padding: 5%;
  background: rgba(0, 98, 204, 0.5);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
  text-align: center;
  color: #fff;
}
.login-container form {
  padding: 10%;
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.login-form-2 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
