<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>senior-project</display-name>

  <servlet>
	<servlet-name>abc</servlet-name>
	<servlet-class>com.senior.AddServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>abc</servlet-name>
	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>routes.html</welcome-file>
    <welcome-file>routes.htm</welcome-file>
    <welcome-file>routes.jsp</welcome-file>
    <welcome-file>routes.html</welcome-file>
    <welcome-file>routes.htm</welcome-file>
    <welcome-file>routes.jsp</welcome-file>
  </welcome-file-list>
</web-app>